.more-screen .icon-row {
  margin-top: 30px;
}

.user-component__subtitle {
  color: var(--main-color-gray);
}

.user-component__phone-number {
  display: flex;
  align-items: center;
}

.more-component__Exclamation {
  margin-left: 5px;
}

.more-suggesticons {
  margin-top: 50px;
  border-top: var(--main-border);
  padding-top: 30px;
}

.more-suggesticons__title {
  margin-bottom: 30px;
}

.more-suggesticons__icons {
  display: flex;
  justify-content: flex-start;
}

.more-suggesticons__icon {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.more-suggesticons__icon img {
  width: 40px;
  height: 40px;
  border-radius: 7px;
  margin-bottom: 10px;
}

.more-suggesticons__icon span {
  color: var(--main-color-gray);
  font-size: 14px;
}