.badge {
  background-color: tomato;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 100;
}

.badge-sm {
  width: 5px;
  height: 5px;
}

.Exclamation-mark {
  border-radius: 50%;
  border: 1px solid #ff6d5d;
  width: 10px;
  height: 10px;
  color: #ff6d5d;
  align-items: center;
  text-align: center;
  font-size: 9px;
}