.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f9f9fa;
  padding: 20px 40px;
  box-sizing: border-box;
  border-top: 1px solid #c7c7c7;
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  color: #2f363e;
  position: relative;
}

.nav__notifications {
  background-color: tomato;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 100;
  position: absolute;
  left: 20px;
  bottom: 18px;
}

.nav-small__notifications {
  width: 5px;
  height: 5px;
  bottom: 27px;
  left: 25px;
}