.status-bar {
  position: fixed;
  display: flex;
  justify-content: center;
  padding: 5px 3px;
  top: 0;
  right: 0;
  left: 0;
  box-sizing: border-box;
}

.status-bar__columm {
  width: 33%;
  display: flex;
  align-items: center;
}

.status-bar__columm:first-child span {
  margin-right: 7px;
}

.status-bar__columm:nth-child(2) {
  display: flex;
  justify-content: center;
}

.status-bar__columm:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.status-bar__columm .fa-battery-half {
  margin: 0px 5px;
  margin-bottom: 5px;
}

.status-bar__notifications {
  position: absolute;
  top: -4px;
  right: -4px;
}